.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  align-items: center;
}

.main-nav {
  margin-right: auto;
}

.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.main-nav-item {
}

.main-nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: #2e2f42;
}

.main-nav-link:hover,
.main-nav-link:focus {
  color: #404bbf;
}

.contacts {
}

.contacts-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.contacts-item {
}

.contacts-link {
  display: block;
  padding: 24px 0;
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
