.team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-item {
  width: calc((100% - 24px * 3) / 4);
  background: #fff;
  border-radius: 0 0 4px 4px;
}

.team-ill {
  display: block;
}

.team-content-wrapper {
  padding: 32px 16px;
  gap: 8px;
}

.team-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  text-align: center;
  color: #2e2f42;
}

.team-position {
  text-align: center;
}
